// bitstrap.scss

// Variables

$purple-1:#8433F4;
$purple-2:#762EDB;
$purple-bg-1:#F5F4F8;
$purple-bg-2:#F7F3FD;
$red-1:#EE1836;
$red-2:#D41530;
$yellow-1:#F6A609;
$yellow-2:#DB9408;
$green-1:#2AC769;
$green-2:#25AD5B;
$grey-1:#4E4C52;
$grey-2:#353438;
$white-1:#FFFFFF;
$white-2:#F4F4F4;
$white-3:#E4E4E4;
$line-1:#D3D3D3;
$line-2:#77737D;


// Buttons

// Input Feilds

// Tables

// Navigation

// Cards
